.modalM {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* Modal Content/Box */
  .modalM-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 370pt;
    border-radius: 2pt;
    z-index: 3000;
  }
  
  .closeM {
    color: #5d5d5d;
    float: right;
    font-size: 20pt;
    margin-top: 11pt;
    font-weight: bold;
    transition: transform 500ms ease;
  }
  
  .closeM:hover,
  .closeM:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(360deg);
    color: #45eaed;
  }
  
  .modalM-content > div > h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 10pt;
  }
  #modalM-container {
    z-index: 1500;
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
  }
  #modalM-container.two {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modalM-container.two .modalM-background .modalM-content {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modalM-container.two.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modalM-container.two.out .modalM-background .modalM-content {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modalM-container .modalM-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
  }
  /* #modal-container .modal-background .modal-content {
      background: white;
      padding: 50px;
      display: inline-block;
      border-radius: 3px;
      font-weight: 300;
      position: relative;
      width: 200pt;
      height:100pt; 
    } */
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
.modalM-text{
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}
