/* Responsive eclater css pour chaque formats */
@media screen and (max-width: 350px) {
  #title-responsive {
    margin: 120pt 0pt;
    font-size: 35pt;
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 8pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    width: 198px;
    height: 130px;
    margin-top:28pt;
  }
  .container-before-after .img-before-after {
    background-size: 198px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 130px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 130px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }


  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 173pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }

}
@media screen and (min-width: 350px) and (max-width: 360px) {
  #title-responsive {
    margin: 140pt 0pt;
    font-size: 40pt;
  } 
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .parallaxe {
    margin-bottom: auto;
  }
  .button-flip {
    width: auto;
  }
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 18pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picPC {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 90pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-width: 361px) and (max-width: 413px) {
  #title-responsive {
    margin: 145pt 0pt;
    font-size: 45pt;
  } 
  .button-flip {
    width: auto;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .accordion-container{
    font-size: 10pt;
  }

  .parallaxe {
    margin-bottom: auto;
  }
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 18pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }
  
  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 90pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-height: 800px) and (max-width: 414px) {
  .parallaxe {
    top: 600pt;
  } 
  #title-responsive {
    margin: 190pt 0pt;
    font-size: 50pt;
  } 
  .button-flip {
    width: auto;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 18pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .lien-projet-n {
    margin: 18pt;
  }
  
  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 200pt;
    height: 200pt;
  }
  #picSGL {
    width: 180pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 140pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
}
.ap {
  margin: 10pt 0pt;
}


}
@media screen and (min-width: 414px) and (max-width: 767px) {
  #title-responsive {
    margin: 150pt 0pt;
    font-size: 50pt;
    
  } 
  .button-flip {
    width: auto;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .parallaxe {
    margin-bottom: auto;
  }
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 20pt;
  } 
  h2 {
    font-size: 25pt;
  }

  /* #title-proxima {
    margin: 0pt;
  } */

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt;
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .liens-projet-n {
    margin: 18pt;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 140pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .parallaxe {
    top: 600pt;
    margin-bottom: auto;
  } 
  .parallaxe3 {
    margin-bottom: 20pt;
  }
  #title-responsive {
    margin: 140pt 0pt;
    font-size: 80pt;
  } 
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 35pt;
  } 
  h2 {
    font-size: 25pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  
   #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  
  .parallaxe3 {
    margin-bottom: 20pt;
  } 
  .cardContainer {
    width: auto;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 220pt;
    height: 220pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  #pic-about {
    margin: unset;
}
}


@media screen and (min-width: 1201px) and (max-width: 1599px)
{
 
}

@media screen and (min-width: 1600px)
{
  #title-responsive {
    margin: 200pt 0pt;
    font-size: 80pt;
  } 
  .parallaxe {
    top: 750pt;
    margin-bottom: 200pt;
  } 
  .parallaxe3{
    margin-bottom: 50pt;
  }
  /* .service-card {
    width: 320pt;
    height: 320pt;
  } */
}
