/* <!--
b.             8          .8.              ,o888888o.        ,o888888o.               8 888888888o.      8 8888888888   `8.`888b           ,8'
888o.          8         .888.            8888     `88.   . 8888     `88.             8 8888    `^888.   8 8888          `8.`888b         ,8'
Y88888o.       8        :88888.        ,8 8888       `8. ,8 8888       `8b            8 8888        `88. 8 8888           `8.`888b       ,8'
.`Y888888o.    8       . `88888.       88 8888           88 8888        `8b           8 8888         `88 8 8888            `8.`888b     ,8'
8o. `Y888888o. 8      .8. `88888.      88 8888           88 8888         88           8 8888          88 8 888888888888     `8.`888b   ,8'
8`Y8o. `Y88888o8     .8`8. `88888.     88 8888           88 8888         88           8 8888          88 8 8888              `8.`888b ,8'
8   `Y8o. `Y8888    .8' `8. `88888.    88 8888           88 8888        ,8P           8 8888         ,88 8 8888               `8.`888b8'
8      `Y8o. `Y8   .8'   `8. `88888.   `8 8888       .8' `8 8888       ,8P            8 8888        ,88' 8 8888                `8.`888'
8         `Y8o.`  .888888888. `88888.     8888     ,88'   ` 8888     ,88'             8 8888    ,o88P'   8 8888                 `8.`8'
8            `Yo .8'       `8. `88888.     `8888888P'        `8888888P'               8 888888888P'      8 888888888888          `8.`

                                                                Powered by 🅽🅰🅲🅾 🅳🅴🆅 ✨
--> */

/* Responsive eclater css pour chaque formats */
@media screen and (max-width: 350px) {
  #title-responsive {
    margin: 120pt 0pt;
    font-size: 35pt;
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 8pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    width: 198px;
    height: 130px;
    margin-top:28pt;
  }
  .container-before-after .img-before-after {
    background-size: 198px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 130px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 130px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }


  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 172pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }

}
@media screen and (min-width: 350px) and (max-width: 360px) {
  
  #title-responsive {
    /* margin: 120pt 0pt;
    font-size: 35pt; */
    margin: 140pt 0pt;
    font-size: 40pt;
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    /* width: 198px;
    height: 130px;
    margin-top:28pt; */
    width: 226px;
    height: 145px;
    margin-top: 21pt;
  }
  .container-before-after .img-before-after {
    background-size: 226px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 145px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 145px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }


  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 172pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }

}
@media screen and (min-width: 361px) and (max-width: 376px) {
  #title-responsive {
    /* margin: 120pt 0pt;
    font-size: 35pt; */
    margin: 160pt 0pt;
    font-size: 40pt;
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    /* width: 198px;
    height: 130px;
    margin-top:28pt; */
    /* width: 226px;
    height: 145px;
    margin-top: 21pt; */
    /* width: 260px;
    height: 168px;
    margin-top: 10pt; */
    width: 235px;
    height: 154px;
    margin-top: 17pt;
  }
  .container-before-after .img-before-after {
    background-size: 235px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 154px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 154px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  .visits{
    font-size: 16pt;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 173pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }


}

@media screen and (min-width: 377px) and (max-width: 413px) {
  
  #title-responsive {
    /* margin: 120pt 0pt;
    font-size: 35pt; */
    margin: 160pt 0pt;
    font-size: 40pt;
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    /* width: 198px;
    height: 130px;
    margin-top:28pt; */
    /* width: 226px;
    height: 145px;
    margin-top: 21pt; */
    width: 260px;
    height: 168px;
    margin-top: 10pt;
    /* width: 235px;
    height: 154px;
    margin-top: 17pt; */
  }
  .container-before-after .img-before-after {
    background-size: 260px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 168px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 168px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  .visits{
    font-size: 16pt;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 173pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }

}
@media screen and (min-height: 820px) and (min-width: 410px) and (max-width: 800px) {
  #title-responsive {
    margin: 190pt 0pt;
    font-size: 50pt;
  } 
  #barcode {
    font-size: 20pt;
}
/* #RadioBtn {
  width: 172pt;
  font-size: x-small;
} */
  .parallaxe {
    top: 640pt;
  } 
}
@media screen and (min-height: 800px) and (max-width: 410px) {
  .parallaxe {
    top: 620pt;
  } 
  #title-responsive {
    margin: 190pt 0pt;
    font-size: 50pt;
  } 
  
  /* .parallaxe {
    margin-bottom: auto;
  } */
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    /* width: 198px;
    height: 130px;
    margin-top:28pt; */
    /* width: 226px;
    height: 145px;
    margin-top: 21pt; */
    /* width: 260px;
    height: 168px;
    margin-top: 10pt; */
    width: 235px;
    height: 154px;
    margin-top: 17pt;
  }
  .container-before-after .img-before-after {
    background-size: 235px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 154px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 154px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  .visits{
    font-size: 16pt;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 173pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }

}
@media screen and (min-width: 414px) and (max-width: 767px) {
  #title-responsive {
    margin: 160pt 0pt;
    font-size: 50pt;
    
  } 
  .parallaxe {
    margin-bottom: auto;
  }
  .accordion-container{
    font-size: 10pt;
  }
  .wordCarousel {
    font-size: 15pt;
  }
  .text{
    text-align: left;
    font-size: 8pt;
    margin: auto;
    flex-direction: column;
  }
  .arrow-puce {
    max-width: max-content;
    text-align: justify; 
  }
  .arrow-puce > li {
    margin: 10pt 20pt 0pt 0pt;
  }

  .refonter-container{
    flex-direction: column;
  }
  .container-before-after { 
    /* width: 198px;
    height: 130px;
    margin-top:28pt; */
    /* width: 226px;
    height: 145px;
    margin-top: 21pt; */
    width: 264px;
    height: 170px;
    margin-top: 9pt;
  }
  .container-before-after .img-before-after {
    background-size: 264px 100%;
  }
  .container-before-after .slider-before-after::-webkit-slider-thumb {
    height: 170px;
  }
  .container-before-after .slider-before-after::-moz-range-thumb { 
    height: 170px;
  }

  .arrow-puce2 {
    font-size: 8pt;
    padding: 0 20pt;
  }

  .textandimg {
    flex-direction: column; 
    /* margin-top:10pt; */
  }
  .bloc-question {
    margin: 5pt 20pt;
  }
  .button-flip {
    width: auto;
  }
  .text-logo{
    flex-direction: column;
    align-items: center;
  }
  .request-loader{
    margin: 20pt 0;
  }


  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: small;
  }
  label > h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  .visits{
    font-size: 16pt;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 90%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  /* #sketch-container-p .sketch-background-p .sketch-p {
    width: 70%;
  } */

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .service-card {
    width: 120pt;
    height: 120pt;
  }
  #item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
    transform: translatex(-35%) scale(0.8);
  }
  
  #item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
    transform: translatex(35%) scale(0.8);
  }
  #picSGL {
    width: 110pt;
  }
  #picND {
    width: 110pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #NacoDev:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(120pt at 60% -25%);
  }
  #picPC {
    width: 110pt;
    font-size: 11pt;
  }

  .resp{
    width:120pt;
    height:120pt;
    margin: 0 6pt;
  }
  .container-carousel {
    max-width: 220px;
  }
  .cards-slider{
    height: 300px
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  .lab-name > label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
    padding:3pt 0 ;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 172pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    max-width: 100%;
    padding:inherit;
    font-size: 8pt;
  }
  #pic-about {
    margin-bottom: 5pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
    font-size: 8pt;
  }
  .info-projets > div{
    font-size: 8pt;
    margin: 0 10pt;
  }
  .info-projets-n > div{
    font-size: 8pt;
  }
  #sketch-sgh-logo > img {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .parallaxe {
    top: 770pt;
    margin-bottom: 200pt;
  } 
  .parallaxe3 {
    margin-bottom: 20pt;
  }
  #title-responsive {
    margin: 140pt 0pt;
    font-size: 80pt;
  } 
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 35pt;
  } 
  h2 {
    font-size: 25pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 80%;
    padding: 35px;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  
   #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  
  .parallaxe3 {
    margin-bottom: 20pt;
  } 
  .cardContainer {
    width: auto;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 220pt;
    height: 220pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  #pic-about {
    margin: unset;
}
}


@media screen and (min-width: 1201px) and (max-width: 1599px)
{
 
}

@media screen and (min-width: 1600px)
{
  #title-responsive {
    margin: 200pt 0pt;
    font-size: 80pt;
  } 
  .parallaxe {
    top: 750pt;
    margin-bottom: 200pt;
  } 
  .parallaxe3{
    margin-bottom: 50pt;
  }
  
  #barcode {
    font-size: 32pt;
  }
  /* .service-card {
    width: 320pt;
    height: 320pt;
  } */
}
