/* Responsive eclater css pour chaque formats */
@media screen and (max-width: 350px) {
  #title-responsive {
    margin: 120pt 0pt;
    font-size: 35pt;
  } 
  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 80%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }

  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }

  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    padding: 30px;
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 200pt;
    height: 200pt;
  }
  #picSGL {
    width: 180pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 40pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 150pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
  }
  textarea {
    width: 150pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 173pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    width: 180pt;
    height: 300pt;
    margin: 0;
  }
  .ap {
    margin: 10pt 0pt;
  }
  .parallaxe3 {
    margin-bottom: 10pt;
  }

}
@media screen and (min-width: 350px) and (max-width: 360px) {
  #title-responsive {
    margin: 140pt 0pt;
    font-size: 40pt;
  } 
  .parallaxe3 {
    margin-bottom: 10pt;
  }

  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 80%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    padding: 30px;
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }


  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 10pt 90pt 10pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    width: 180pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-width: 361px) and (max-width: 413px) {
  #title-responsive {
    margin: 145pt 0pt;
    font-size: 45pt;
  } 
  .parallaxe3 {
    margin-bottom: 30pt;
  }
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 80%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }
  
  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  .lien-projet-n {
    margin: 18pt;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    padding: 30px;
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 90pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    width: 180pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-height: 800px) and (max-width: 414px) {
  .parallaxe {
    top: 786pt;
  } 
  #title-responsive {
    margin: 190pt 0pt;
    font-size: 50pt;
  } 
  .service-container {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
 
  #barcode {
    margin-top: 20pt;
    font-size: 15pt;
  } 
  h2 {
    font-size: 25pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 80%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .lien-projet-n {
    margin: 18pt;
  }
  
  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    padding: 30px;
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 200pt;
    height: 200pt;
  }
  #picSGL {
    width: 180pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 180pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 140pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    width: 180pt;
    height: 300pt;
    margin: 0;
}
.ap {
  margin: 10pt 0pt;
}


}
@media screen and (min-width: 414px) and (max-width: 767px) {
  #title-responsive {
    margin: 150pt 0pt;
    font-size: 50pt;
    
  } 
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 20pt;
  } 
  h2 {
    font-size: 25pt;
  }

  #title-proxima {
    margin: 0pt;
  }

  h4 {
    margin: 5pt 0pt;
    font-size: smaller;
  }

  #sketch-container .sketch-background .sketch {
    padding: 20px;
    width: 85%;
    height: 80%;
  }

  .sketch .close {
    right: 5pt;
    top: 5pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .liens-logo {
    flex-direction: column;
    margin-top: 0pt;
  }
  
  .liens-logo-n {
    flex-direction: column;
  }

  .liens-projet-n {
    margin: 18pt;
  }

  #sketch-sgh-logo {
    margin-top: 15pt;
  }

  .info-projets > div {
    margin: 5pt 0;
    font-size: 8pt;
  }

  .lien-projet {
    font-size: small;
    margin-bottom: 5pt;
  }

  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }


  #sketch-naco-logo {
    width: 135pt;
    margin-left: 0pt;
    margin-top: 10pt;
  }

  .sketch-n .close {
    right: 10pt;
    top: 10pt;
  }
  
  .liens-logo-p {
    flex-direction: column;
  }

  #sketch-container-p .sketch-background-p .sketch-p {
    padding: 30px;
    width: 70%;
  }

  .sketch-p .close {
    right: 10pt;
    top: 10pt;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 230pt;
    height: 230pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  .modal-content {
    margin: 0pt 20pt 140pt 20pt;
    width: auto;
    padding: 15px;
  }

  .modalC-content {
    width: 80%
  }

  .modalM-content {
    width: 80%
  }

  .close {
    font-size: 20pt; 
    margin-right: 10pt;
  }
  input {
    font-size: x-small;
    height: 40px;
    width: 200pt;
  }
  label {
    width: 90pt;
    letter-spacing: 0.1rem;
    font-size: x-small;
    margin: 5pt 2pt;
}
  textarea {
    width: 200pt;
    font-size: x-small;
    height: 60pt;
  }
  #RadioBtn {
    width: 223pt;
    font-size: x-small;
  }
  #submit {
    width: 40%;
    font-size: x-small;
  }
  #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
  #pic-about {
    width: 180pt;
    height: 300pt;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .parallaxe {
    top: 768pt;
  } 
  .parallaxe3 {
    margin-bottom: 20pt;
  }
  #title-responsive {
    margin: 240pt 0pt;
    font-size: 80pt;
  } 
  .service-container {
    flex-direction: column;
  }
  #service-content {
    flex-direction: column;
    align-items: center;
  }
  #content-about {
    flex-direction: column;
  }
  .quote {
    font-size: small;
  }
  #BtnContact{
    font-size: small;
  }
  #barcode {
    margin-top: 20pt;
    font-size: 30pt;
  } 
  h2 {
    font-size: 25pt;
  }

  #sketch-container-n .sketch-background-n .sketch-n {
    width: 70%;
    height: 70%;
    padding: 35px;
  }

  .cardContainer {
    margin-bottom: 30pt;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
  
   #text-about {
    text-indent: 10%;
    width: 190pt;
    padding:inherit;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  
  .parallaxe3 {
    margin-bottom: 20pt;
  } 
  .cardContainer {
    width: auto;
  }
  .circle {
    width: 150pt;
    height: 150pt;
    font-size: small;
  }
  .service-card {
    width: 220pt;
    height: 220pt;
  }
  #picSGL {
    width: 200pt;
  }
  #SuperGreenLab:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  #NacoDev:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #Prochainement:before {
    clip-path: circle(230pt at 60% -25%);
  }
  #picND {
    width: 200pt;
  }
  .za {
    width: 80%;
    font-size: small;
  }
  .az {
    width: 80%;
    font-size: small;
  }
  #pic-about {
    margin: unset;
}
}


@media screen and (min-width: 1201px) and (max-width: 1599px)
{
 
}

@media screen and (min-width: 1600px)
{
  #title-responsive {
    margin: 200pt 0pt;
    font-size: 80pt;
  } 
  .parallaxe {
    top: 750pt;
  } 
  .parallaxe3{
    margin-bottom: 50pt;
  }
  .service-card {
    width: 320pt;
    height: 320pt;
  }
}
