/* <!--
b.             8          .8.              ,o888888o.        ,o888888o.               8 888888888o.      8 8888888888   `8.`888b           ,8'
888o.          8         .888.            8888     `88.   . 8888     `88.             8 8888    `^888.   8 8888          `8.`888b         ,8'
Y88888o.       8        :88888.        ,8 8888       `8. ,8 8888       `8b            8 8888        `88. 8 8888           `8.`888b       ,8'
.`Y888888o.    8       . `88888.       88 8888           88 8888        `8b           8 8888         `88 8 8888            `8.`888b     ,8'
8o. `Y888888o. 8      .8. `88888.      88 8888           88 8888         88           8 8888          88 8 888888888888     `8.`888b   ,8'
8`Y8o. `Y88888o8     .8`8. `88888.     88 8888           88 8888         88           8 8888          88 8 8888              `8.`888b ,8'
8   `Y8o. `Y8888    .8' `8. `88888.    88 8888           88 8888        ,8P           8 8888         ,88 8 8888               `8.`888b8'
8      `Y8o. `Y8   .8'   `8. `88888.   `8 8888       .8' `8 8888       ,8P            8 8888        ,88' 8 8888                `8.`888'
8         `Y8o.`  .888888888. `88888.     8888     ,88'   ` 8888     ,88'             8 8888    ,o88P'   8 8888                 `8.`8'
8            `Yo .8'       `8. `88888.     `8888888P'        `8888888P'               8 888888888P'      8 888888888888          `8.`

                                                                Powered by 🅽🅰🅲🅾 🅳🅴🆅 ✨
--> */

/* .btn-sketch:active {
transform: translate(0pt, -1pt);
} */

/* test sketch */

#sketch-container-p {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 9998;
}
#sketch-container-p.four {
  transform: scale(1);
}
#sketch-container-p.four .sketch-background-p {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p.four .sketch-background-p .sketch-p {
  background-color: transparent;
  animation: sketchFadeIn 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p.four
  .sketch-background-p
  .sketch-p
  #sketch-proxima-content {
  opacity: 0;
  position: relative;
  animation: sketchContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#sketch-container-p.four .sketch-background-p .sketch-p .sketch-svg rect {
  animation: sketchIn 0.5s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p.four.out-sketch {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#sketch-container-p.four.out-sketch .sketch-background-p {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p.four.out-sketch .sketch-background-p .sketch-p {
  animation: sketchFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p.four.out-sketch
  .sketch-background-p
  .sketch-p
  #sketch-proxima-content {
  animation: sketchContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#sketch-container-p.four.out-sketch .sketch-background-p .sketch-p .sketch-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#sketch-container-p .sketch-background-p {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#sketch-container-p .sketch-background-p .sketch-p {
  background: white;
  padding: 50px;
  display: inline-block;
  width: 50%;
  height: 60%;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#sketch-container-p .sketch-background-p .sketch-p .sketch-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#sketch-container-p .sketch-background-p .sketch-p .sketch-svg rect {
  stroke: #fff;
  stroke-width: 4pt;
  stroke-dasharray: 389;
  stroke-dashoffset: 389;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 389;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 389;
  }
}
@keyframes sketchFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes sketchFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes sketchContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes sketchContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
/* Sketch content */

.sketch-p .close {
  z-index: 9999;
  position: absolute;
  right: 30pt;
  top: 30pt;
}

#sketch-proxima-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.sketch-p .close {
  z-index: 9999;
  position: absolute;
  right: 30pt;
  top: 30pt;
}

#sketch-proxima-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.liens-logo-p {
  display: flex;
  justify-content: space-around;
}

.info-projets-p > div {
  margin: 10pt;
  font-size: 10pt;
  width: 100%;
}

.lien-projet-p {
  margin-top: 32pt;
  text-align: center;
  font-size: 10pt;
  letter-spacing: 0.2rem;
}

.lien-projet-p a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 0.5s ease-in-out;
  padding: 5pt;
  border-radius: 5pt;
  text-decoration: underline;
}

.lien-projet-p a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#title-proxima {
  text-align: center;
  margin: 0pt;
}
