/* Static Content CSS */
/* *{
  margin:0;
  box-sizing: border-box;
} */



body {
  margin: 0;
  height: 4000px;
  top: 0px;
  left: 0px;
}

#title-responsive {
  margin: 140pt 0pt;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 88pt;
  cursor: default;
}


h2 {
  margin: 20pt;
  font-family: "Montserrat", sans-serif;
  font-size: 50pt;
  color: #5d5d5d;
  text-align: left;
  cursor: default;
}

#barcode {
  margin-top: 20pt;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 32pt;
  cursor: default;
  text-transform: uppercase;
}

#BtnContact {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  border: solid 1px #ffffff;
  padding: 10pt 15pt;
  border-radius: 2pt;
  font-weight: lighter;
  transition-duration: 1s;
  text-transform: uppercase;
}

#BtnContact:hover {
  color: black;
  background-color: white;
  box-shadow: 20px 20px 50px #00d2c6, -30px -30px 60px #00ffff;
}

.click {
  transition: all 0.88s ease-out;
}

.click:active {
  transform: scale(0.98) translate(0, 4pt);
}
.quote {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  margin: 20pt 0pt;
  text-transform: uppercase;
  cursor: default;
}

.logo {
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: right;
  color: #424242;
  margin: 5pt;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  top: 800pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  color: #424242;
  font-weight: bold;
  /* letter-spacing: 0.3rem; */
}

#cgu {
  padding: 5pt;
  cursor: pointer;
}

/* End Static Content CSS */

/* Form */

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0px auto;
  align-items: center;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: black;
  border: solid 1.2px black;
  border-bottom: none;
  width: 280pt;
}

input:hover {
  background: #267172;
  color: #fff;
}

textarea {
  height: 80pt;
  width: 280pt;
  padding: 15px;
  background: transparent;
  outline: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  border: solid 1.2px black;
}

textarea:hover {
  background: #267172;
  color: white;
  font-weight: bold;
}

#submit {
  margin: 10pt;
  width: 50%;
  padding: 0px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: black;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.3rem;
  border: solid 1.2px black;
}

#submit:hover {
  color: white;
  background-color: #267172;
  border: solid 1.2px white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

#RadioBtn {
  width: 302pt;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1;
  border: solid 1.2px black;
  border-top: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: black;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: none;
  cursor: not-allowed;
}

.lab-name > label {
  width: 130pt;
  display: block;
  background: white;
  border: 1.2px solid black;
  margin: 1.2rem 0.5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.875em;
}

input[type="radio"]:checked + label {
  background: #267172;
  color: white;
  border: 1.2px solid #267172;
}
input[type="radio"]:checked + label::after {
  color: #267172;
  border: 2px solid #267172;
  content: "\002714";
  font-size: 12pt;
  position: absolute;
  top: -10pt;
  left: 50%;
  transform: translateX(-50%);
  height: 15pt;
  width: 15pt;
  line-height: 15pt;
  text-align: right;
  border-radius: 50%;
  background: white;
}
/*End Form */

/* Bloc Services CSS */

.parallaxe {
  margin-bottom: 40pt;
  top: 600pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  display: flex;
  flex-direction: column;
}

#service-content {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.cardContainer {
  width: 220pt;
  border-radius: 15pt;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  display: flex;
  /* align-items: center; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.circle {
  cursor: grab;
  font-family: "Montserrat", sans-serif;
  width: 180pt;
  height: 180pt;
  border-radius: 50%;
  background: linear-gradient(135deg, #fff, #d2d2d2);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  margin: 20pt;
  margin-bottom: 10pt;
  /* transition-duration: 0.4s; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.circle:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 10pt;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  color: black;
  cursor: default;
  border-width: 200pt;
  border-top: 2px solid #5d5d5d;
  border-bottom: 2px solid #5d5d5d;
  padding-top: 10pt;
  padding-bottom: 10pt;
  text-align: center;
  font-weight: bolder;
  margin-top: 5pt;
  margin-bottom: 15pt;
}

.az {
  cursor: default;
  width: 100%;
  text-align: right;
  font-size: 10pt;
  margin-top: 5pt;
  margin-bottom: 15pt;
  margin-right: 10pt;
}

.za {
  cursor: default;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  padding: 10pt 0;
  border-radius: 20pt;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  background: linear-gradient(135deg, #fff, #d2d2d2);
}

.za:active {
  transform: translate(0pt, -1pt);
}

/*Fin Bloc Services CSS */

/*Carte Conception */

#service-creation:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, orange, yellow);
}

#service-creation:active {
  transform: translate(0pt, -1pt);
}

#title-conception {
  background: linear-gradient(to right, orange, rgb(192, 192, 21));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-conception:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, orange, yellow);
}

.appear-conception {
  opacity: 0;
}

/*Fin Carte Conception */

/* Carte Développement */

#service-entrepreneur:active {
  transform: translate(0pt, 1pt);
}

#service-entrepreneur:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}

#title-developpement {
  background: linear-gradient(to left, red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-developpement:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}

.appear-developpement {
  opacity: 0;
}

/*Fin Carte Développement */

/*Carte Refonte */

#service-refonte:active {
  transform: translate(0pt, 1pt);
}

#service-refonte:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, #00c853, #b2ff59);
}

#title-refonte {
  background: linear-gradient(to right, #00c853, #75cc11);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-refonte:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, #00c853, #b2ff59);
}

.appear-refonte {
  opacity: 0;
}

/*Fin Carte Refonte */

/* Carte Présence Web */

#service-freelance:active {
  transform: translate(0pt, 1pt);
}

#service-freelance:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, purple, pink);
}

#title-freelance {
  background: linear-gradient(to left, purple, pink);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-freelance:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, purple, pink);
}

.appear-freelance {
  opacity: 0;
}

/*Fin Carte Présence Web */

/* Bloc Portfolio CSS */

.parallaxe2 {
  top: 700pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, rgba(44, 44, 44), #2e2e2e) border-box;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 400pt;
}

.service-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20pt;
}

.service-card {
  margin: 15pt;
  /* width: 260pt;
  height: 260pt; */
  width: 200pt;
  height: 200pt;
  border-radius: 15pt;
  background-color: #232323;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1.4s;
  cursor: pointer;
  /* opacity: 0; */
}

.service-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-card:active {
  transform: translate(0pt, -10pt);
}

/* Fin Bloc Portfolio CSS */

/* Carte SuperGreenLab */

#SuperGreenLab {
  transition: 0.5s ease-in-out;
}

#SuperGreenLab:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3bb30d;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(200pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#SuperGreenLab:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#SuperGreenLab:hover > #picSGL {
  /* width: 270pt; */
  transform: translateY(-50%);
}

#picSGL {
  transition: 0.5s ease-in-out;
  width: 190pt;
  position: absolute;
  /* opacity: 0; */
}

/* Fin Carte SuperGreenLab */

/* Carte Nacodev */

#NacoDev {
  transition: 0.5s ease-in-out;
}

#NacoDev:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/space2.jpg");
  background-size: cover;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(200pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#NacoDev:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#NacoDev:hover > #picND {
  /* width: 270pt; */
  transform: translateY(-25%);
}
#picND {
  transition: 0.5s ease-in-out;
  width: 190pt;
  position: absolute;
  /* opacity: 0; */
}

/* Fin Carte Nacodev */

/* Carte Prochainement */

#Prochainement {
  transition: 0.5s ease-in-out;
}

#Prochainement:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(200pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#Prochainement:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#Prochainement:hover > #picPC {
  /* width: 270pt; */
  transform: translateY(-50%);
}

#picPC {
  transition: 0.5s ease-in-out;
  width: 190pt;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 24pt;
  color: #5d5d5d;
  font-weight: bold;
  text-align: center;
  /* display: none; */
}

/* Fin Carte Prochainement */

/* Bloc About CSS */

.parallaxe3 {
  cursor: default;
  top: 700pt;
  z-index: 9;
  position: relative;
  /* width: 100%; */
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 60pt;
}

#content-about {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50pt;
  font-size: 10pt;
}

.ap {
  width: 100%;
  margin: 10pt;
}

#content-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
}

#pic-about {
  width: 225pt;
  height: 320pt;
  margin: 0pt 36pt;
  /* border: 1px solid black; */
  background: url(../assets/naco.jpg);
  background-position: center;
  background-size: 225pt;
  background-repeat: no-repeat;
  transition: ease-in-out 0.8s;
  border-radius: 5pt;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    color: white
}

#border {
  height: 98%;
  margin: 3pt;
  border-radius: 5pt;
  border:solid 1px white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

#border:hover {
  opacity: 1;
}

#pic-about:hover{
  background-position: left;
  background-size: 450pt;
  /* filter: blur(1pt);
  -webkit-filter: blur(1pt); */
  
}

#title-about{
  font-size: 20pt;
  margin: 5pt;
  letter-spacing: 1pt;
  text-align: end;
}

#text-about > div {
  margin-bottom: 5pt;
}
#text-about {
  font-weight: bold; 
  max-width: 50%;
  text-align: justify;
  font-size: 10pt;
  padding:0pt 40pt ;
  cursor: default;
}

#contentsocial {
  display: flex;
  justify-content: flex-end;
}

#contentsocial a:hover {
  transform: scale(1.05)
}

#logos-all {
  display: flex;
  flex-direction: column;
}

#logos-about {
  cursor: default
}

.logos-line {
  display: flex;
  justify-content: center;
}
/* Fin Bloc About CSS */

/* Bloc progressive bar */


article input {
  display: none;
}

section {
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section article {
  align-self: center;
  width: 20em;
  margin-bottom: 2em;
}

.container {
  cursor: default;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

/*
*
*
START // CHART'S RULES
*/
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  perspective: 800pt;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.bar {
  font-size: 1em;
  height: 8em;
  transition: all 0.3s ease-in-out;
  transform: rotateX(60deg) rotateY(0deg);
  transform-style: preserve-3d;
}
.bar .face {
  /* font-size: 2em;
  width: 100%; */
  width: 150pt;
  height: 20pt;
  background-color: rgba(254, 254, 254, 0.3);
}
.bar .face.side-a {
  width: 2em;
}
.bar .side-a {
  transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
}
.bar .side-0 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
}
.bar .side-1 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
}
.bar .top {
  transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
}
.bar .floor {
  box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
}

.growing-bar {
  
  height: 2em;
  transition: ease-in-out 0.5s;
}

.bar.red .side-a, input[id='red']:checked ~ .chart .side-a{
  background-color: rgba(240, 93, 8, 0.5);
}
.bar.red .growing-bar,
input[id='red']:checked ~ .chart .growing-bar {
  background-color: rgba(240, 93, 8, 0.5);
  width: 100%;
}
.bar.red .side-0 .growing-bar, input[id='red']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgba(240, 93, 8,0.5);
  width: 100%;
}
.bar.red .floor .growing-bar, input[id='red']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em rgba(240, 93, 8, 0.5);
  width: 100%;
}

.bar.cyan .side-a, input[id='cyan']:checked ~ .chart .side-a{
  background-color: #126bb3a2;
}
.bar.cyan .growing-bar,
input[id='cyan']:checked ~ .chart .growing-bar {
  background-color: #126bb3a2;
  width: 100%;
}
.bar.cyan .side-0 .growing-bar, input[id='cyan']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #126bb3a2;
  width: 100%;
}
.bar.cyan .floor .growing-bar, input[id='cyan']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #126bb3a2;
  width: 100%;
}

.bar.lime .side-a, input[id='lime']:checked ~ .chart .side-a{
  background-color: #00c96b6e;
}
.bar.lime .growing-bar,
input[id='lime']:checked ~ .chart .growing-bar {
  background-color: #00c96b6e;
  width: 70%;
}
.bar.lime .side-0 .growing-bar, input[id='lime']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #00c96b6e;
  width: 70%;
}
.bar.lime .floor .growing-bar, input[id='lime']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #00c96b6e;
  width: 70%;
}


.bar.yellow .side-a, input[id='yellow']:checked ~ .chart .side-a{
  background-color: #f0cd0899;
}
.bar.yellow .growing-bar,
input[id='yellow']:checked ~ .chart .growing-bar {
  background-color: #f0cd0899;
  width: 80%;
}
.bar.yellow .side-0 .growing-bar, input[id='yellow']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #f0cd0899;
  width: 80%;
}
.bar.yellow .floor .growing-bar, input[id='yellow']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #f0cd0899;
  width: 80%;
}



.bar.blue .side-a, input[id='blue']:checked ~ .chart .side-a{
  background-color: #4ae1ffa1;
}
.bar.blue .growing-bar,
input[id='blue']:checked ~ .chart .growing-bar {
  background-color: #4ae1ffa1;
  width: 70%;
}
.bar.blue .side-0 .growing-bar, input[id='blue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #4ae1ffa1;
  width: 70%;
}
.bar.blue .floor .growing-bar, input[id='blue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #4ae1ffa1;
  width: 70%;
}


.bar.purple .side-a, input[id='purple']:checked ~ .chart .side-a{
  background-color: #5337d399;
}
.bar.purple .growing-bar,
input[id='purple']:checked ~ .chart .growing-bar {
  background-color: #5337d399;
  width: 75%;
}
.bar.purple .side-0 .growing-bar, input[id='purple']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #5337d399;
  width: 75%;
}
.bar.purple .floor .growing-bar, input[id='purple']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #5337d399;
  width: 75%;
}


.bar.green .side-a, input[id='green']:checked ~ .chart .side-a{
  background-color: #25c97799;
}
.bar.green .growing-bar,
input[id='green']:checked ~ .chart .growing-bar {
  background-color: #25c97799;
  width: 70%;
}
.bar.green .side-0 .growing-bar, input[id='green']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #25c97799;
  width: 70%;
}
.bar.green .floor .growing-bar, input[id='green']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #25c97799;
  width: 70%;
}


.bar.lightblue .side-a, input[id='lightblue']:checked ~ .chart .side-a{
  background-color: #1eb9e062;
}
.bar.lightblue .growing-bar,
input[id='lightblue']:checked ~ .chart .growing-bar {
  background-color: #1eb9e062;
  width: 50%;
}
.bar.lightblue .side-0 .growing-bar, input[id='lightblue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #1eb9e062;
  width: 50%;
}
.bar.lightblue .floor .growing-bar, input[id='lightblue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #1eb9e062;
  width: 50%;
}

.bar.purpleb .side-a, input[id='purpleb']:checked ~ .chart .side-a{
  background-color: #721ee062;
}
.bar.purpleb .growing-bar,
input[id='purpleb']:checked ~ .chart .growing-bar {
  background-color: #721ee062;
  width: 100%;
}
.bar.purpleb .side-0 .growing-bar, input[id='purpleb']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #721ee062;
  width: 100%;
}
.bar.purpleb .floor .growing-bar, input[id='purpleb']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #721ee062;
  width: 100%;
}


.bar.otherblue .side-a, input[id='otherblue']:checked ~ .chart .side-a{
  background-color: #1f1d1d62;
}
.bar.otherblue .growing-bar,
input[id='otherblue']:checked ~ .chart .growing-bar {
  background-color: #1f1d1d62;
  width: 60%;
}
.bar.otherblue .side-0 .growing-bar, input[id='otherblue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #1f1d1d62;
  width: 60%;
}
.bar.otherblue .floor .growing-bar, input[id='otherblue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #1f1d1d62;
  width: 60%;
}

.bar.redb .side-a, input[id='redb']:checked ~ .chart .side-a {
  background-color: #e01e1e62;
}


.bar.redb .growing-bar,
input[id='redb']:checked ~ .chart .growing-bar {
  background-color: #e01e1e62;
  width: 100%;
}
.bar.redb .side-0 .growing-bar, input[id='redb']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #e01e1e62;
  width: 100%;
}
.bar.redb .floor .growing-bar, input[id='redb']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #e01e1e62;
  width: 100%;
}

.bar.grey .side-a, input[id='grey']:checked ~ .chart .side-a {
  background-color: #000000ee;
}

.bar.grey .growing-bar,
input[id='grey']:checked ~ .chart .growing-bar {
  background-color: #000000ee;
  width: 78%;
}
.bar.grey .side-0 .growing-bar, input[id='grey']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #000000ee;
  width: 78%;
}
.bar.grey .floor .growing-bar, input[id='grey']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #000000ee;
  width: 78%;
}

/*
END // CHART'S RULES
*
*
*/
.actions {
  display: flex;
  justify-content: center;
}

.label {
  cursor: grab;
  transition: 0.5s ease-in-out;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 50px;
  margin: 5pt;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.label:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#css {
  background-image: url(../assets/Dev-logo/Css-logo.png);
}

#html {
  background-image: url(../assets/Dev-logo/Html-logo.png);
}
#nuxt {
  background-image: url(../assets/Dev-logo/Nuxt-logo.png);
}

#js {
  background-image: url(../assets/Dev-logo/Js-logo.png);
}
#jquery {
  background-image: url(../assets/Dev-logo/Netlify-logo.png);
}

#jquery2 {
  background-image: url(../assets/Dev-logo/Jquery-logo.png);
}

#php {
  background-image: url(../assets/Dev-logo/Php-logo.png);
}
#vue {
  background-image: url(../assets/Dev-logo/Vue-logo.png);
}

#sql {
  background-image: url(../assets/Dev-logo/Sql-logo.png);
}

#bootstrap {
  background-image: url(../assets/Dev-logo/Bootstrap-logo.png);
}

#wp {
  background-image: url(../assets/Dev-logo/Wordpress-logo.png);
}
#figma {
  background-image: url(../assets/Dev-logo/Figma-logo.png);
}

#git {
  background-image: url(../assets/Dev-logo/Github-logo.png);
}

.otherC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titlecompetencies {
  text-align:center; 
  margin-bottom: 10pt;
  font-weight: bold;
  font-size: 12pt
}

#skilltitle {
  font-weight: bold;
  text-align:left; 
  width:100%;
  height: 10pt;
  margin-top: 5pt;
  transition: ease-in-out 1s;
}
#skilllevel {
  text-align:left; 
  width:100%
}

/* test accordion */

.enter-accordion{
  padding:15pt 0;
  cursor:pointer;
  /* background-color:#eee; */
  color:black;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  text-align:center;
  margin: 5pt;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  /* border-radius: 5pt; */
  transition: all 0.4s ease-in-out;
 }

 .enter-accordion:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .enter-accordion2:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .enter-accordion2{
  padding:15pt 0;
  cursor:pointer;
  /* background-color:#2e2e2e; */
  color:white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  text-align:center;
  margin: 5pt;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  /* border-radius: 5pt; */
  transition: all 0.4s ease-in-out;
 }
 
 .para-accordion {
  /* border-radius: 5pt; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display:none;
  margin: 10pt 5pt;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* height: 100%; */
 }

 .content-para{
  /* border-radius: 5pt; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20pt;
  cursor: default;
  color: white;
  background-color: rgb(32, 32, 32);
  min-height: 300pt
  /* background: linear-gradient(135deg, rgba(44, 44, 44), #2e2e2e) border-box;*/
}

.bg2{
  background: linear-gradient(135deg, #fff, #d2d2d2);
  color: black;
}


/* arrow */

 .arrow{
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: -5pt 10pt;
 }

 .left-barC{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(45deg);
 }

 .right-barC{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(-45deg);
 }

 .left-barD{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(45deg);
 }

 .right-barD{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(-45deg);
 }

 .left-barR{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(45deg);
 }

 .right-barR{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(-45deg);
 }

 .left-barP{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(45deg);
 }

 .right-barP{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #132f45;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(-45deg);
 }

 
 .left-barC2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(-45deg);
 }

 .right-barC2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(45deg);
 }

 .left-barD2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(-45deg);
 }

 .right-barD2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(45deg);
 }

 .left-barR2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(-45deg);
 }

 .right-barR2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(45deg);
 }

 .left-barP2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  left: 0;
  transform: rotate(-45deg);
 }

 .right-barP2{
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: white;
  display: inline-block;
  transition: all 0.2s ease;
  right: 0;
  transform: rotate(45deg);
 }

 /* end arrows */

.accordion-container{
  margin-bottom: 20pt; 
  display: flex; 
  justify-content: center; 
}

.card-accordion-content{
  width: 90%; 
  display: flex; justify-content: 
  center; flex-direction: column;
}

 .img-content{
  margin: 10pt;
  width: 200pt;
  height: 100pt;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/Screensformat.png)
 }


 .text-logo {
  /* text-indent: 10%; */
  width: 80%;
  font-size: 10pt;
  margin-top: 10pt;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  /* opacity: 0;
  transition: 0.5s ease-in-out; */
}



.text{
  text-align: justify; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 10pt; 
  margin:20pt;
  display: flex;
}

.bloc-question {
  margin: 0 10pt;
}
.question {
  margin: 5pt 0;
  font-weight: bold;
  font-style: italic;
}

/* ul {
  padding-left: 10pt;
} */

.visits{
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  margin: 50pt 0;
}

.arrow-puce {
  max-width: 60%;
}

.arrow-puce > li {
  list-style: url("../assets/arrow1.png");
  margin: 10pt;
  font-weight: bold;
}

.arrow-puce2{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.arrow-puce2 > li {
  list-style: url("../assets/arrow1.png");
  margin: 10pt;
  font-weight: normal;
}

.wordCarousel {
  font-size: 20pt;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  margin-top: 20pt;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  text-align:center
}

.flip2 {
  -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/* body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#content-developpement-interface{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(#222, #000);
  padding-bottom: 20pt; 
}

/* test flip-card */

.wrapper-flip {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.card-flip {
  box-sizing: border-box;
  width: 150pt;
  height: 150pt;
  margin: 1em;
  perspective: 1500px;
  transition: all 0.5s ease-in-out;
}

.card-flip:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.card-flip .content-flip {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .content-flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* border-radius: 6px; */
}
.front .inner,
.back .inner {
  box-sizing: content-box;
  height: 100%;
  display: grid;
  /* padding: 1.5em; */
  transform: translateZ(80px) scale(0.94);
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* border-radius: 6px; */
  backface-visibility: hidden;
  background: linear-gradient(40deg, rgb(213 66 66 / 84%), rgb(255 249 47 / 86%));
}
.front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.front .inner > h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: 12pt;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.front .rating {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
}
.front .rating i {
  margin: 0 1px;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  /* border: 2px solid #f0f0f0; */
  background: #ffffff;
  /* box-shadow: inset 21px 21px 37px #a6a6a6, inset -21px -21px 37px #ffffff; */
}
.back .inner {
  grid-template-rows: 0fr 0fr 10fr 0fr 30fr 0fr 0fr;
  /* grid-template-columns: repeat(4, auto); */
  grid-column-gap: 0.8em;
  justify-items: center;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: rgb(202, 59, 2);
  grid-row: 3;
  justify-content: center;
  margin-left: 5pt;
}
/* .back .info:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
} */
.back .info span {
  font-size: 12pt;
  font-weight: bold;
  width: max-content;
}
.back .description-flip {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  /* border-radius: 5px; */
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: black;
  padding: 0 5pt;
  /* text-align: justify; */
}
.back .button-flip {
  grid-column: 1/-1;
  justify-self: center;
}

.button-flip {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 40pt;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  text-align: center;
  /* left: 50%; */
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button-flip:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: rgb(213 66 66) ;
}
.button-flip.return {
  line-height: 3em;
  color: rgb(213 66 66);
  border-color: rgb(213 66 66);
  text-shadow: none;
  padding: 0 5pt;
  margin-top: 4pt;
}
.button-flip.return:hover {
  background-color: rgb(213 66 66);
  color: #fff;
  box-shadow: none;
}

.inner > label {
  margin: 0.5em
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #444444;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32) ;
}

/*  end-test-flip-card */

/* test slider images */

.macbook-container{
  /* display: none; */
  background-image: url(../assets/macbook.png);
  height: 240px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content:center ;
  align-items:flex-start ;
}
.wrapper-slider{
  width: 440px;
  height: 286px;
  transform: translate3d(0%,0%,0);
  overflow: hidden;
  /* border-radius: 5pt; */
  margin: 14pt 0pt;
}
/* Our image information */
.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
  /* border-radius: 5pt; */
}
.content-image{
  height:100%;
  /* border-radius: 5pt; */
}
.after{
  width:125px;
}
.scroller{
  width: 35pt;
  height: 35pt;
  /* margin-left: 4pt; */
  position: absolute;
  left: 100px;
  top: 5%;
  transform: translateY(200%);
  border-radius: 2pt;
  background-color: darkred;
  opacity: 0.7;
  pointer-events: auto;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  border-radius: 100%;
}
.scroller:hover{
  opacity:1;
}
.scrolling{
  pointer-events:none;
  opacity:1;
  z-index: 1;
}

#chevron-arrow-left {
  /* display: inline-block; */
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 10pt; height: 10pt;
  transform: rotate(-225deg);
}
#chevron-arrow-right {
  /* display: inline-block; */
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 10pt;
  height: 10pt;
  transform: rotate(-45deg);
}

/* end test slider images */

/* slider carousel */


.body-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300pt;
  transition: background 0.4s ease-in;
  background: linear-gradient(135deg, #fff, #d2d2d2);
  border-radius: 5pt;
}
.body-slider.blue {
  background: rgb(32, 32, 32);
}

.sliders {
  display: none;
}

.card-slide {
  position: absolute;
  width: 220pt;
  height: 220pt;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container-carousel {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.cards-slider >label >img  {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards-slider #song-3, #item-2:checked ~ .cards-slider #song-1, #item-3:checked ~ .cards-slider #song-2 {
  transform: translatex(-50%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards-slider #song-2, #item-2:checked ~ .cards-slider #song-3, #item-3:checked ~ .cards-slider #song-1 {
  transform: translatex(50%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards-slider #song-1, #item-2:checked ~ .cards-slider #song-2, #item-3:checked ~ .cards-slider #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* end slider carousel */

/* test carousel parallaxe */


/* end test carousel parallaxe */

.body-before-after {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-before-after {
  position: relative;
  width: 270px;
  height: 175px;
  border: none;
  margin-top: 7pt;
  border-radius: 3pt;
}

.container-before-after .img-before-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 270px 100%;
}
.container-before-after .background-img {
  background-image: url(../assets/beforeslide.jpg);
}
.container-before-after .foreground-img {
  background-image: url(../assets/afterslide.jpg);
  width: 50%;
}
.container-before-after .slider-before-after {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.3);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
}
.container-before-after .slider-before-after:hover {
  background: rgba(255, 255, 255, 0);
}
.container-before-after .slider-before-after::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 175px;
  background: greenyellow;
  cursor: grab;
}
.container-before-after .slider-before-after::-moz-range-thumb {
  width: 6px;
  height: 175px;
  background: greenyellow;
  cursor: grab;
}
.container-before-after .slider-button-before-after {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: greenyellow;
  left: calc(50% - 18px);
  top: calc(70% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-before-after .slider-button-before-after:after {
  content: "";
  padding: 4px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.container-before-after .slider-button-before-after:before {
  content: "";
  padding: 4px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}