/* Static Content CSS */

body {
  margin: 0;
  height: 4000px;
  top: 0px;
  left: 0px;
}

#title-responsive {
  margin: 140pt 0pt;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 88pt;
  cursor: default;
}


h2 {
  margin: 20pt;
  font-family: "Montserrat", sans-serif;
  font-size: 50pt;
  color: #5d5d5d;
  text-align: left;
  cursor: default;
}

#barcode {
  margin-top: 20pt;
  font-family: "Libre Barcode 39 Text", sans-serif;
  font-size: 32pt;
  cursor: default;
}

#BtnContact {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  border: solid 1px #ffffff;
  padding: 10pt 15pt;
  border-radius: 2pt;
  font-weight: lighter;
  transition-duration: 1s;
  text-transform: uppercase;
}

#BtnContact:hover {
  color: black;
  background-color: white;
  box-shadow: 20px 20px 50px #00d2c6, -30px -30px 60px #00ffff;
}

.click {
  transition: all 0.88s ease-out;
}

.click:active {
  transform: scale(0.98) translate(0, 4pt);
}
.quote {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  margin: 20pt 0pt;
  text-transform: uppercase;
  cursor: default;
}

.logo {
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: right;
  color: #424242;
  margin: 5pt;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  top: 800pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  color: #424242;
  font-weight: bold;
  /* letter-spacing: 0.3rem; */
}

#cgu {
  padding: 5pt;
  cursor: pointer;
}

/* End Static Content CSS */

/* Form */

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0px auto;
  align-items: center;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: black;
  border: solid 1.2px black;
  border-bottom: none;
  width: 280pt;
}

input:hover {
  background: #45eaed;
  color: #fff;
}

textarea {
  height: 80pt;
  width: 280pt;
  padding: 15px;
  background: transparent;
  outline: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  border: solid 1.2px black;
}

textarea:hover {
  background: #45eaed;
  color: white;
}

#submit {
  margin: 10pt;
  width: 50%;
  padding: 0px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: black;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.3rem;
  border: solid 1.2px black;
}

#submit:hover {
  color: white;
  background-color: #45eaed;
  border: solid 1.2px white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

#RadioBtn {
  width: 302pt;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1;
  border: solid 1.2px black;
  border-top: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: black;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  width: 130pt;
  display: block;
  background: white;
  border: 1.2px solid black;
  margin: 1.2rem 0.5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.875em;
}

input[type="radio"]:checked + label {
  background: #45eaed;
  color: white;
  border: 1.2px solid #45eaed;
}
input[type="radio"]:checked + label::after {
  color: #45eaed;
  border: 2px solid #45eaed;
  content: "\002714";
  font-size: 12pt;
  position: absolute;
  top: -10pt;
  left: 50%;
  transform: translateX(-50%);
  height: 15pt;
  width: 15pt;
  line-height: 15pt;
  text-align: right;
  border-radius: 50%;
  background: white;
}
/*End Form */

/* Bloc Services CSS */

.parallaxe {
  margin-bottom: 400pt;
  top: 600pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  display: flex;
  flex-direction: column;
}

#service-content {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.cardContainer {
  width: 220pt;
  border-radius: 15pt;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  display: flex;
  /* align-items: center; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.circle {
  cursor: grab;
  font-family: "Montserrat", sans-serif;
  width: 180pt;
  height: 180pt;
  border-radius: 50%;
  background: linear-gradient(135deg, #fff, #d2d2d2);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  margin: 20pt;
  margin-bottom: 10pt;
  /* transition-duration: 0.4s; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.circle:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 10pt;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  color: black;
  cursor: default;
  border-width: 200pt;
  border-top: 2px solid #5d5d5d;
  border-bottom: 2px solid #5d5d5d;
  padding-top: 10pt;
  padding-bottom: 10pt;
  text-align: center;
  font-weight: bolder;
  margin-top: 5pt;
  margin-bottom: 15pt;
}

.az {
  cursor: default;
  width: 100%;
  text-align: right;
  font-size: 10pt;
  margin-top: 5pt;
  margin-bottom: 15pt;
  margin-right: 10pt;
}

.za {
  cursor: default;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  padding: 10pt 0;
  border-radius: 20pt;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  background: linear-gradient(135deg, #fff, #d2d2d2);
}

.za:active {
  transform: translate(0pt, -1pt);
}

/*Fin Bloc Services CSS */

/*Carte Conception */

#service-creation:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, orange, yellow);
}

#service-creation:active {
  transform: translate(0pt, -1pt);
}

#title-conception {
  background: linear-gradient(to right, orange, rgb(192, 192, 21));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-conception:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, orange, yellow);
}

.appear-conception {
  opacity: 0;
}

/*Fin Carte Conception */

/* Carte Développement */

#service-entrepreneur:active {
  transform: translate(0pt, 1pt);
}

#service-entrepreneur:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}

#title-developpement {
  background: linear-gradient(to left, red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-developpement:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}

.appear-developpement {
  opacity: 0;
}

/*Fin Carte Développement */

/*Carte Refonte */

#service-refonte:active {
  transform: translate(0pt, 1pt);
}

#service-refonte:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, #00c853, #b2ff59);
}

#title-refonte {
  background: linear-gradient(to right, #00c853, #75cc11);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-refonte:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, #00c853, #b2ff59);
}

.appear-refonte {
  opacity: 0;
}

/*Fin Carte Refonte */

/* Carte Présence Web */

#service-freelance:active {
  transform: translate(0pt, 1pt);
}

#service-freelance:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10pt;
  border-radius: inherit;
  background: linear-gradient(to right, purple, pink);
}

#title-freelance {
  background: linear-gradient(to left, purple, pink);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.effect-freelance:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1pt;
  border-radius: inherit;
  background: linear-gradient(to right, purple, pink);
}

.appear-freelance {
  opacity: 0;
}

/*Fin Carte Présence Web */

/* Bloc Portfolio CSS */

.parallaxe2 {
  top: 700pt;
  z-index: 10;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 400pt;
}

.service-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60pt;
}

.service-card {
  margin: 15pt;
  width: 260pt;
  height: 260pt;
  border-radius: 15pt;
  background-color: #232323;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1.4s;
  cursor: pointer;
}

.service-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-card:active {
  transform: translate(0pt, -10pt);
}

/* Fin Bloc Portfolio CSS */

/* Carte SuperGreenLab */

#SuperGreenLab {
  transition: 0.5s ease-in-out;
}

#SuperGreenLab:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3bb30d;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(300pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#SuperGreenLab:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#SuperGreenLab:hover > #picSGL {
  /* width: 270pt; */
  transform: translateY(-50%);
}

#picSGL {
  transition: 0.5s ease-in-out;
  width: 250pt;
  position: absolute;
}

/* Fin Carte SuperGreenLab */

/* Carte Nacodev */

#NacoDev {
  transition: 0.5s ease-in-out;
}

#NacoDev:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/space2.jpg");
  background-size: cover;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(300pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#NacoDev:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#NacoDev:hover > #picND {
  /* width: 270pt; */
  transform: translateY(-25%);
}
#picND {
  transition: 0.5s ease-in-out;
  width: 250pt;
  position: absolute;
}

/* Fin Carte Nacodev */

/* Carte Prochainement */

#Prochainement {
  transition: 0.5s ease-in-out;
}

#Prochainement:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  /* clip-path: circle(120pt at 50% 0%); */
  clip-path: circle(300pt at 60% -25%);
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 15pt;
}

#Prochainement:hover:before {
  /* clip-path: circle(300pt at 60% -20%); */
  clip-path: circle(120pt at 50% 0%);
}

#Prochainement:hover > #picPC {
  /* width: 270pt; */
  transform: translateY(-50%);
}

#picPC {
  transition: 0.5s ease-in-out;
  width: 250pt;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 24pt;
  color: #5d5d5d;
  font-weight: bold;
  text-align: center;
}

/* Fin Carte Prochainement */

/* Bloc About CSS */

.parallaxe3 {
  top: 700pt;
  z-index: 9;
  position: relative;
  /* width: 100%; */
  background: linear-gradient(135deg, #fff, #d2d2d2) border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 60pt;
}

#content-about {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50pt;
  font-size: 10pt;
}

.ap {
  width: 100%;
  margin: 10pt;
}

#content-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
}

#pic-about {
  width: 200pt;
  height: 320pt;
  margin: 0pt 60pt;
  border: 1px solid black;
}

#text-about > div {
  margin-bottom: 5pt;
}
#text-about {
  text-indent: 18%;
  text-align: justify;
  font-size: 10pt;
  padding:0pt 40pt ;
}


#logos-all {
  display: flex;
  flex-direction: column;
}

.logos-line {
  display: flex;
  justify-content: center;
}
/* Fin Bloc About CSS */

/* Bloc progressive bar */


article input {
  display: none;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section article {
  align-self: center;
  width: 20em;
  margin-bottom: 2em;
}

.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

/*
*
*
START // CHART'S RULES
*/
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  perspective: 800pt;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.bar {
  font-size: 1em;
  height: 8em;
  transition: all 0.3s ease-in-out;
  transform: rotateX(60deg) rotateY(0deg);
  transform-style: preserve-3d;
}
.bar .face {
  /* font-size: 2em;
  width: 100%; */
  width: 150pt;
  height: 20pt;
  background-color: rgba(254, 254, 254, 0.3);
}
.bar .face.side-a {
  width: 2em;
}
.bar .side-a {
  transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
}
.bar .side-0 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
}
.bar .side-1 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
}
.bar .top {
  transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
}
.bar .floor {
  box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
}

.growing-bar {
  
  height: 2em;
  transition: ease-in-out 0.5s;
}

.bar.red .side-a, input[id='red']:checked ~ .chart .side-a{
  background-color: rgba(240, 93, 8, 0.5);
}
.bar.red .growing-bar,
input[id='red']:checked ~ .chart .growing-bar {
  background-color: rgba(240, 93, 8, 0.5);
  width: 100%;
}
.bar.red .side-0 .growing-bar, input[id='red']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgba(240, 93, 8,0.5);
  width: 100%;
}
.bar.red .floor .growing-bar, input[id='red']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em rgba(240, 93, 8, 0.5);
  width: 100%;
}

.bar.cyan .side-a, input[id='cyan']:checked ~ .chart .side-a{
  background-color: #126bb3a2;
}
.bar.cyan .growing-bar,
input[id='cyan']:checked ~ .chart .growing-bar {
  background-color: #126bb3a2;
  width: 100%;
}
.bar.cyan .side-0 .growing-bar, input[id='cyan']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #126bb3a2;
  width: 100%;
}
.bar.cyan .floor .growing-bar, input[id='cyan']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #126bb3a2;
  width: 100%;
}

.bar.lime .side-a, input[id='lime']:checked ~ .chart .side-a{
  background-color: #00c96b6e;
}
.bar.lime .growing-bar,
input[id='lime']:checked ~ .chart .growing-bar {
  background-color: #00c96b6e;
  width: 70%;
}
.bar.lime .side-0 .growing-bar, input[id='lime']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #00c96b6e;
  width: 70%;
}
.bar.lime .floor .growing-bar, input[id='lime']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #00c96b6e;
  width: 70%;
}


.bar.yellow .side-a, input[id='yellow']:checked ~ .chart .side-a{
  background-color: #f0cd0899;
}
.bar.yellow .growing-bar,
input[id='yellow']:checked ~ .chart .growing-bar {
  background-color: #f0cd0899;
  width: 80%;
}
.bar.yellow .side-0 .growing-bar, input[id='yellow']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #f0cd0899;
  width: 80%;
}
.bar.yellow .floor .growing-bar, input[id='yellow']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #f0cd0899;
  width: 80%;
}



.bar.blue .side-a, input[id='blue']:checked ~ .chart .side-a{
  background-color: #089bf071;
}
.bar.blue .growing-bar,
input[id='blue']:checked ~ .chart .growing-bar {
  background-color: #089bf071;
  width: 100%;
}
.bar.blue .side-0 .growing-bar, input[id='blue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #089bf071;
  width: 100%;
}
.bar.blue .floor .growing-bar, input[id='blue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #089bf071;
  width: 100%;
}


.bar.purple .side-a, input[id='purple']:checked ~ .chart .side-a{
  background-color: #5337d399;
}
.bar.purple .growing-bar,
input[id='purple']:checked ~ .chart .growing-bar {
  background-color: #5337d399;
  width: 75%;
}
.bar.purple .side-0 .growing-bar, input[id='purple']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #5337d399;
  width: 75%;
}
.bar.purple .floor .growing-bar, input[id='purple']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #5337d399;
  width: 75%;
}


.bar.green .side-a, input[id='green']:checked ~ .chart .side-a{
  background-color: #25c97799;
}
.bar.green .growing-bar,
input[id='green']:checked ~ .chart .growing-bar {
  background-color: #25c97799;
  width: 70%;
}
.bar.green .side-0 .growing-bar, input[id='green']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #25c97799;
  width: 70%;
}
.bar.green .floor .growing-bar, input[id='green']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #25c97799;
  width: 70%;
}


.bar.lightblue .side-a, input[id='lightblue']:checked ~ .chart .side-a{
  background-color: #1eb9e062;
}
.bar.lightblue .growing-bar,
input[id='lightblue']:checked ~ .chart .growing-bar {
  background-color: #1eb9e062;
  width: 50%;
}
.bar.lightblue .side-0 .growing-bar, input[id='lightblue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #1eb9e062;
  width: 50%;
}
.bar.lightblue .floor .growing-bar, input[id='lightblue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #1eb9e062;
  width: 50%;
}

.bar.purpleb .side-a, input[id='purpleb']:checked ~ .chart .side-a{
  background-color: #721ee062;
}
.bar.purpleb .growing-bar,
input[id='purpleb']:checked ~ .chart .growing-bar {
  background-color: #721ee062;
  width: 100%;
}
.bar.purpleb .side-0 .growing-bar, input[id='purpleb']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #721ee062;
  width: 100%;
}
.bar.purpleb .floor .growing-bar, input[id='purpleb']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #721ee062;
  width: 100%;
}


.bar.otherblue .side-a, input[id='otherblue']:checked ~ .chart .side-a{
  background-color: #1e62e062;
}
.bar.otherblue .growing-bar,
input[id='otherblue']:checked ~ .chart .growing-bar {
  background-color: #1e62e062;
  width: 40%;
}
.bar.otherblue .side-0 .growing-bar, input[id='otherblue']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #1e62e062;
  width: 40%;
}
.bar.otherblue .floor .growing-bar, input[id='otherblue']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #1e62e062;
  width: 40%;
}

.bar.redb .side-a, input[id='redb']:checked ~ .chart .side-a {
  background-color: #e01e1e62;
}


.bar.redb .growing-bar,
input[id='redb']:checked ~ .chart .growing-bar {
  background-color: #e01e1e62;
  width: 100%;
}
.bar.redb .side-0 .growing-bar, input[id='redb']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #e01e1e62;
  width: 100%;
}
.bar.redb .floor .growing-bar, input[id='redb']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #e01e1e62;
  width: 100%;
}

.bar.grey .side-a, input[id='grey']:checked ~ .chart .side-a {
  background-color: #1f1d1d62;
}

.bar.grey .growing-bar,
input[id='grey']:checked ~ .chart .growing-bar {
  background-color: #1f1d1d62;
  width: 60%;
}
.bar.grey .side-0 .growing-bar, input[id='grey']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #1f1d1d62;
  width: 60%;
}
.bar.grey .floor .growing-bar, input[id='grey']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #1f1d1d62;
  width: 60%;
}

/*
END // CHART'S RULES
*
*
*/
.actions {
  display: flex;
  justify-content: center;
}

.label {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 50px;
  margin: 5pt;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.label:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#css {
  background-image: url(../assets/Dev-logo/Css-logo.png);
}

#html {
  background-image: url(../assets/Dev-logo/Html-logo.png);
}
#nuxt {
  background-image: url(../assets/Dev-logo/Nuxt-logo.png);
}

#js {
  background-image: url(../assets/Dev-logo/Js-logo.png);
}
#jquery {
  background-image: url(../assets/Dev-logo/Jquery-logo.png);
}

#php {
  background-image: url(../assets/Dev-logo/Php-logo.png);
}
#vue {
  background-image: url(../assets/Dev-logo/Vue-logo.png);
}

#sql {
  background-image: url(../assets/Dev-logo/Sql-logo.png);
}

#bootstrap {
  background-image: url(../assets/Dev-logo/Bootstrap-logo.png);
}

#wp {
  background-image: url(../assets/Dev-logo/Wordpress-logo.png);
}
#figma {
  background-image: url(../assets/Dev-logo/Figma-logo.png);
}

#git {
  background-image: url(../assets/Dev-logo/Github-logo.png);
}

.otherC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titlecompetencies {
  text-align:center; 
  margin-bottom: 10pt;
  font-weight: bold;
}

#skilltitle {
  text-align:left; 
  width:100%;
  height: 10pt;
  margin-top: 5pt;
  transition: ease-in-out 1s;
}
#skilllevel {
  text-align:left; 
  width:100%
}