/* <!--
b.             8          .8.              ,o888888o.        ,o888888o.               8 888888888o.      8 8888888888   `8.`888b           ,8'
888o.          8         .888.            8888     `88.   . 8888     `88.             8 8888    `^888.   8 8888          `8.`888b         ,8'
Y88888o.       8        :88888.        ,8 8888       `8. ,8 8888       `8b            8 8888        `88. 8 8888           `8.`888b       ,8'
.`Y888888o.    8       . `88888.       88 8888           88 8888        `8b           8 8888         `88 8 8888            `8.`888b     ,8'
8o. `Y888888o. 8      .8. `88888.      88 8888           88 8888         88           8 8888          88 8 888888888888     `8.`888b   ,8'
8`Y8o. `Y88888o8     .8`8. `88888.     88 8888           88 8888         88           8 8888          88 8 8888              `8.`888b ,8'
8   `Y8o. `Y8888    .8' `8. `88888.    88 8888           88 8888        ,8P           8 8888         ,88 8 8888               `8.`888b8'
8      `Y8o. `Y8   .8'   `8. `88888.   `8 8888       .8' `8 8888       ,8P            8 8888        ,88' 8 8888                `8.`888'
8         `Y8o.`  .888888888. `88888.     8888     ,88'   ` 8888     ,88'             8 8888    ,o88P'   8 8888                 `8.`8'
8            `Yo .8'       `8. `88888.     `8888888P'        `8888888P'               8 888888888P'      8 888888888888          `8.`

                                                                Powered by 🅽🅰🅲🅾 🅳🅴🆅 ✨
--> */

#overview {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(80deg,#fff,#d2d2d2);
    /* background-color: rgba(255, 255, 255, 0.452); */
}

/* #overview:a{
    text-decoration: none;
} */

a{
    text-decoration: none;
}

.container-success{
    font-family: "Montserrat", sans-serif ;
    position: absolute;
    top: 30%;
    padding: 0 30pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    width: 200pt;
    height: 130pt;
    color: #5d5d5d;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);    
    border-radius: 5pt;
    font-size: 10pt;
}

#envoyer{
    text-transform: uppercase;
    font-weight: bold;

}

#lien-envoyer{
    text-align: justify;
}

#lien-envoyer a {
    color: #5d5d5d;
    text-decoration: underline;
}